* {
    box-sizing: border-box
}

h2,h3,p,ul,ul li {
    margin: 0;
    padding: 0
}

img {
    width: 100%
}

ul li {
    list-style: none
}

body {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto
}

p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 10px;
    color: #000
}

.content {
    padding: 30px 50px
}

.title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000;
    text-align: center
}

.subtitle {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin: 11px 0;
    color: #000;
    position: relative;
    padding-bottom: 10px;
    text-align: center
}

.subtitle:after {
    position: absolute;
    content: '';
    height: 4px;
    width: 100px;
    background: #8903ab;
    bottom: 0;
    left: calc(50% - 50px)
}

.post-date {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #000;
    margin-top: 30px
}

.content .image {
    display: block;
    margin: 40px auto;
    border: 4px solid #8903ab
}

.content .image.horizontal {
    width: 100%;
    max-width: 540px
}

a {
    cursor: pointer;
    color: #8903ab;
    text-decoration: underline
}

.content_form
{
    flex-direction: column;
    width: 100%;
    background: var(--color_border);
    padding: 40px;
    color: var(--color_secondary);
    margin-bottom: 50px;
    display: none;
}

.form_action
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;
}
.input_form
{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color_input);
    color: var(--color_secondary)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.btn_content
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn_buy_form
{
    padding: 10px 50px;
    background: #4bff2f;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--color_base);
    font-size: clamp(10px, 16px, 18px);
    cursor: pointer;
}

.first_price
{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--color_secondary);
    font-weight: 400;
}

input{
    outline: none;
}

.text_form
{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    margin-bottom: 2px;
}

.total_price{
    border-top: 1px solid var(--color_secondary);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
}

@media(min-width: 600px) {
    .title {
        padding:30px 0;
        text-align: left
    }

    .subtitle:after {
        left: 0
    }

    .subtitle {
        text-align: left
    }
}

@media screen and (max-width: 600px) {
    .content {
        padding:30px 15px
    }

    .title {
        font-size: 30px;
        line-height: 35px
    }

    .subtitle {
        font-size: 20px;
        line-height: 25px
    }

    .post-date {
        font-weight: 300;
        font-size: 14px;
        line-height: 25px
    }

    .content .image.horizontal {
        max-width: 100%
    }

    .content .image {
        margin: 35px auto;
        border-top: 4px solid #8903ab
    }

    p {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -.02em
    }
}

.content p {
    font-size: 20px;
    margin-bottom: 15px
}

.content li {
    font-size: 20px
}

.wrapper {
    max-width: 860px
}

.alstep54_sglCGFT6q {
    margin-bottom: 10px
}

@media screen and (max-width: 600px) {
    .title {
        font-size:24px;
        line-height: 30px
    }
}

.content .image {
    border: 0
}

@media screen and (max-width: 480px) {
    .main-menu-blk {
        display:none
    }

    .content {
        padding-top: 10px
    }
}

body * {
    font-family: sans-serif!important
}

p,ul li,ol li {
    font-size: 22px!important;
    line-height: 26px!important
}

* {
    margin: 0;
    padding: 0
}

body {
    font-size: 18px;
    font-family: sans-serif;
    color: #000;
    background: #f7f7f7
}

a {
    color: #1697ce
}

a:hover {
    color: #b0493b
}

a:focus {
    outline: medium
}

h2 {
    font-size: 22px;
    font-weight: 400
}

.alex_zevsa_wcih4ECQW {
    position: relative;
    margin: 0 auto;
    width: 960px;
    padding: 0 20px
}

.clearfix:after,.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC,.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
    font-family: sans-serif!important
}

.katyakoncakova_FtFDdVex {
    position: relative;
    z-index: 15;
    background: #fff
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    margin-bottom: 10px;
    float: left;
    margin-top: 15px;
    width: 360px;
    text-decoration: none;
    color: #000;
    display: block;
    position: relative
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img {
    width: 180px
}

.katyakoncakova_FtFDdVex .vasilusya_rfYcdWbD {
    float: right;
    font-size: 12px;
    margin-top: 5px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    width: 330px;
    float: right;
    margin-top: 30px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .tata_soboleva_XjcqhmYZ7 {
    margin-top: 25px;
    position: relative;
    text-align: right
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
    margin-top: 10px;
    background: none repeat scroll 0 0 #333541;
    height: 50px
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
    list-style: none outside none
}

.katyakoncakova_FtFDdVex .main-menu-blk>li {
    display: inline-block;
    margin-right: 23px;
    position: relative;
    padding: 17px 10px;
    white-space: nowrap
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe span {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-decoration: none
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .submenu-btn {
    color: #cf4f3a;
    font-style: normal;
    margin-left: 4px
}

.alstep54_sglCGFT6q {
    font-size: 12px
}

img {
    max-width: 100%
}

.altakansk_YrlOq5h6N {
    font-family: sans-serif;
    color: #6c6e83;
    margin: 0 5px
}

.web-s {
    font-family: sans-serif;
    -moz-user-select: none
}

center p {
    text-indent: 0!important
}

@media screen and (max-width: 1020px) {
    .alex_zevsa_wcih4ECQW {
        width:auto
    }

    .main-menu-blk {
        width: 100%;
        margin: 0 auto
    }

    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        margin: 0;
        text-align: center;
        height: 100%;
        padding: 0 5px
    }

    .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
        height: auto
    }

    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        width: 180px
    }

    .alex_zevsa_wcih4ECQW,.main-menu-blk {
        height: 100%
    }

    .web-s {
        display: none
    }

    body img {
        max-width: 100%
    }
}

@media screen and (max-width: 720px) {
    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        padding:5px
    }

    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        display: none
    }

    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
        margin-top: 40px;
        float: none;
        width: 360px;
        text-decoration: none;
        color: #000;
        display: block;
        position: relative;
        margin: 10px auto
    }
}

@media screen and (max-width: 542px) {
    .main-menu-blk {
        margin:0 auto;
        text-align: center
    }
}

@media screen and (max-width: 420px) {
    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        width:45%;
        padding: 0
    }

    body img {
        max-width: 100%
    }

    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
        width: 320px
    }

    .alex_zevsa_wcih4ECQW {
        padding: 0
    }
}

p i {
    margin-top: 5px
}
